

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
	margin:30px 0 20px 0;
  padding: 0;
	font-size: 24px;
  font-weight: normal;
  width: 100%;
	line-height: 1.1;
	font-family: "source_sans_prolight",Arial,Helvetica,sans-serif;
}

h3 {
	margin:30px 0 30px 0;
}

h4 {
	margin:30px 0 20px 0;
}

h3:before {
	background-image: url('/static/img/plane.png');
	background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
    position: relative;
    top:7px;
    margin-right: 10px;
}

.navbar {
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}

.navbar-brand {
  color: #333;
}



.breadcrumb {
  margin: 20px 0 0 -15px;
  background-color: transparent;
  font-size: 12px;
}

.breadcrumb a {
  color: #333;
}

.breadcrumb .active {
  color: #999;
}

.main {
  min-height: 500px;
  margin-top: 40px;
}

a.api-link {
  text-decoration: none;
  color: inherit;
}

#destinations-form {
  padding-top: 20px;
}

.logo {
	margin-left:-15px;
	height:50px;
	float:left;
}

#specific, #inspire {
	float:left;
	height: 60px;
	margin: 0px 15px 0 0px;
}

#flights-category {
  background-image: url('/static/img/plane.png');
  background-size: 45px;
}

#airports-category {
  background-image: url('/static/img/airport1.png');
  background-size: 50px;
}

#ndc-category {
  background-image: url('/static/img/iata.png');
  background-size: 55px;
}

#mock-apis-category {
  background-image: url('/static/img/JSON.png');
  background-size: 55px;
}

#destinations-category {
  background-image: url('/static/img/magnifier.png');
  background-size: 35px;
}

#hotels-category {
  background-image: url('/static/img/hotel1.png');
  background-size: 50px;
}

#ti-category {
  background-image: url('/static/img/data.png');
  background-size: 50px;
}

#browse-flights-category {
  background-image: url('/static/img/magnifier.png');
  background-size: 35px;
}

#live-flights-category {
  background-image: url('/static/img/direct.png');
  background-size: 45px;
}

#flight-route-category {
  background-image: url('/static/img/map_route.png');
  background-size: 45px;
}

#flight-ba-category {
  background-image: url('/static/img/BA_logo.png');
  background-size: 119px;
  background-position-x: -10px;
  background-position-y: -3px;
}

.category-box {
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 20px;
}

.category-box h4 {
  margin: 20px 0 20px 80px ;
}

.category-box:hover {
  color: #337ab7;
  border: 1px solid rgba(0 , 102, 201, 0.25);
}

.panel-footer {
	text-align: center;
	font-weight: bold;
}

.results {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 7px 0;
}

span.destinations-results {
  color: #999;
}

pre {
	border: none;
}

table {
  border-collapse: inherit;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  width: 100%;
  clear: both;
  line-height: 20px;
  font-size: 12px;
}

table td {
  background-color: white;
  border-top-color: white;
  border-bottom: 1px solid #DFDFDF;
  color: #555;
  padding: 10px 7px;
  vertical-align: top;
}

table th {
  font-size: 14px;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  font-weight: normal;
  padding: 7px 7px 8px 7px;
  text-align: left;
  line-height: 1.3em;
  border-bottom: 1px solid #DFDFDF;
  color: black;
}

.footer {
  font-size: 12px;
}