
        {% load staticfiles %}

    <button id="jsonResponse">View json response</button>
    <button class="hidden" id="copyButton" onclick="copyJson()">           
        <img id="copy" src="{% static 'img/copy.png' %}" style="height:18px" />       
    </button>

    <pre class="hidden" id="jsonCode">{{ result }}</pre> 
    <textarea class="hidden" id="jsonContent">{{ result }}</textarea>

    <br>
    <br>

    <div class="row">
      <div class="col-md-12">
          {% if result.POIs|length > 0 %}
            <p>{{ result.POIs|length }} points of interest in {{ location }}</p>
            <table>
            {% for poi in result.POIs %}
            <tr>
              <td><b>{{ poi.name}}</b>
                  {{ poi.details.description}}
                  <br>
                  <a href="https://www.google.com/search?q={{poi.name}}" target="_blank">More info</a> (Google)
<br>
                    <a href="https://www.google.com/maps/place/{{poi.latlon.0}},{{poi.latlon.1}}" target="_blank">View on map</a> 
                  <br>
                  Rank: {{ poi.rank }}
              </td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}
      </div>
    </div>

    <script>
        $("#jsonResponse").click(function(){
            $('#jsonCode').removeClass("hidden");
            $('#copyButton').removeClass("hidden");
        });
    
    
    
        function copyJson() {
            $('#jsonContent').removeClass("hidden");
            var copyJson = document.getElementById("jsonContent");
            copyJson.focus();
            copyJson.select();
            document.execCommand("copy");
            $('#jsonContent').addClass("hidden");
        }
        </script>
    
    
