
    {% load staticfiles %}

    <button id="jsonResponse">View source code</button>
    <button class="hidden" id="copyButton" onclick="copyJson()">           
        <img id="copy" src="{% static 'img/copy.png' %}" style="height:18px" />       
    </button>

    <pre class="hidden" id="jsonCode">{{ result }}</pre> 
    <textarea class="hidden" id="jsonContent">{{ result }}</textarea>

    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        
          {% if result.response.totalResults %}
          <p>{{ result.response.totalResults }} points of interest in {{ location }}. Showing {{ result.response.groups.0.items|length }}</p>
          <table>
          {% for poi in result.response.groups.0.items %}
          <tr>
              <td>{{ poi.venue.name}}
                  <p>{{ poi.reasons.items.0.summary }}</p>
                  <p>Address: {{ poi.venue.location.address }} </p>
                  <p>Rank: {{ poi.venue.stats.tipCount }}</p>
                  <p>Lat/lng: {{poi.venue.location.lat }}, {{poi.venue.location.lng}}</p>
              </td>
          </tr>
          {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>

    <script>
    $("#jsonResponse").click(function(){
        $('#jsonCode').removeClass("hidden");
        $('#copyButton').removeClass("hidden");
    });



    function copyJson() {
        $('#jsonContent').removeClass("hidden");
        var copyJson = document.getElementById("jsonContent");
        copyJson.focus();
        copyJson.select();
        document.execCommand("copy");
        $('#jsonContent').addClass("hidden");
    }
    </script>

