{% extends "base.html" %}  
{% load staticfiles %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Destinations</li>
</ol>
{% endblock %}

{% block main %}
  <h1>Destinations APIs</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
              <a class="api-link" href="{% url 'points-of-interest' %}">
              <div class="panel-body">
                <img id="inspire" src="{% static 'img/poi.png' %}" />       
                <h4>Points of Interest</h4>

                Find interesting things to do in a given location.
              
              </div>
              </a>
            </div>
        </div>
    </div>
{% endblock main %}


