{% extends "base.html" %}  
{% load staticfiles %}

{% block main %}

  <ol class="breadcrumb" style="padding-left:60px">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Destinations</li>
  </ol>

  <div class="container">
  <h3>Destinations APIs</h3>

    <h4>YapQ</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" style="border: 1px solid #">
              <a class="api-link" href="{% url 'points-of-interest' %}">
              <div class="panel-body">
                <img id="inspire" src="{% static 'img/poi.png' %}" />       
                <h4>Points of Interest</h4>

                Find interesting things to do in a given location.
              
                </div>
              </a>
            </div>
          </div>
    </div>

      
  </div>



{% endblock main %}


