{% extends 'base.html' %} 

{% block head %}
<!-- Map box code -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
<style>
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
  }
</style>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'destinations' %}">Destinations</a></li>
  <li class="active">Points of Interest</li>
</ol>
{% endblock %}

{% block main %}
<h1>Points of Interest</h1>

    <hr>

    <form>
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-2">
        <label for="{{ form.location.id_location }}">Location: </label>
        {{ form.location }} 
      </div>
      <div class="form-group col-md-2">
        <label for="{{ form.number_of_results.id_number_of_results }}">Number of results: </label>
        {{ form.number_of_results }}
      </div>
      <div class="form-group col-md-3">
        <label for="{{ form.provider.id_provider }}">Provider: </label>
        {{ form.provider }}
      </div>
      <button type="submit" class="btn btn-primary" style="line-height:1;margin-top: 20px;">Search</button>
    </div>
    </form>

    <hr>
    
    <div class="row">
      <div class="col-md-12">
          {% if result.points_of_interest %}
          {% if result.points_of_interest|length > 0 %}
          <p>{{ result.points_of_interest|length }} points of interest in {{ location }}</p>
          <pre>{{ result.points_of_interest }}</pre>
          <table>
          {% for poi in result.points_of_interest %}
          <tr>
            <td><img src="{{ poi.main_image }}" alt="{{ poi.title}}"/></td>
            <td><a href="{{ poi.details.wiki_page_link}}" target="_blank">{{ poi.title}}</a>
                <p>{{ poi.details.description}}</p>
                <p>City grade: {{ poi.grades.city_grade }}<br/>YapQ grade: {{poi.grades.yapq_grade}}</p>
                <p>Lat/lng: {{poi.location.latitude}}, {{poi.location.longitude}} 
                  (<a href="{{ poi.location.google_maps_link }}" target="_blank">view on Google maps</a>)
                </p>
            </td>
          </tr>
          {% endfor %}
          </table>
          {% endif %}
        {% else %}
          {% if result.POIs|length > 0 %}
            <p>{{ result.POIs|length }} points of interest in {{ location }}</p>
            <pre>{{ result.POIs }}</pre>
            <table>
            {% for poi in result.POIs %}
            <tr>
              <td>{{ poi.name}}
                  <p>{{ poi.details.description}}</p>
                  <p>Rank: {{ poi.rank }}</p>
                  <p>Lat/lng: {{poi.latlon.0}}, {{poi.latlon.1}}</p>
              </td>
            </tr>
            {% endfor %}
            </table>
          {% endif %}
        {% endif %}
      </div>
    </div>
      
    
    {% endblock %}
