{% extends 'base.html' %} {% block head %} {% endblock %} {% block breadcrumbs %} {% endblock %} {% block main %}

<div class="row">
  <div class="col-md-6">
    <div id="flights-category" class="panel panel-default category-box">
      <a class="api-link" href="{% url 'flights' %}">
        <div class="panel-body">
          <h4>Flights</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div id="ti-category" class="panel panel-default category-box">
      <a class="api-link" href="{% url 'travel_intelligence' %}">
        <div class="panel-body">
          <h4>Travel Intelligence</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div id="airports-category" class="panel panel-default category-box">
      <a class="api-link" href="{% url 'airports' %}">
        <div class="panel-body">
          <h4>Airports</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div id="destinations-category" class="panel panel-default category-box">
      <a class="api-link" href="{% url 'destinations' %}">
        <div class="panel-body">
          <h4>Points of Interest</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div id="mock-apis-category" class="panel panel-default category-box">
      <a class="api-link" href="{% url 'mock_apis' %}">
        <div class="panel-body">
          <h4>Mock Taxi API &nbsp;&nbsp;</h4>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}