{% extends "base.html" %}
{% load staticfiles %}


{% block breadcrumbs %}

    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'flights' %}">Flights</a></li>
      <li class="active">Low-fare search: {{ service }}</li>
    </ol>

{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12" style="margin-bottom:20px;">
        This flight search demo uses the 
        <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-low-fare-search/api-reference" target="_blank">Amadeus Low-fare Search API</a>. 
        The request may take up to 20s.
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form>
            {% csrf_token %}
            <label>Origin </label>
            {{ form.origin }}
            <label>Destination </label>
            {{ form.destination  }}
            <label>Departure date </label>
            {{ form.departure_date }}
            <label>Return date </label>
            {{ form.return_date }}
            <button type="submit" class="" style="position:relative;top:0;">Search</button>
        </form>
    </div>
</div>


<div class="row">

    <div class="tab-content">
    
        <div id="ama4dev" class=" ">
            {% if response_error != "" %}
            <div class="alert alert-warning" style="margin: 20px">
                Error: {{ response_error }}
            </div>
            {% else %}
            <div class="alert">
                <img id="timer" src="{% static 'img/timer.png' %}" style="height:18px;margin-bottom:4px;" />               
                API response time {{ response_time_ama4dev|floatformat:2 }}s
                <br><br>
                <button id="jsonResponse">View json response</button>
                <button class="hidden" id="copyButton" onclick="copyJson()">           
                    <img id="copy" src="{% static 'img/copy.png' %}" style="height:18px" />       
                </button>
            
                <pre class="hidden" id="jsonCode">{{ response_ama4dev }}</pre> 
                <textarea class="hidden" id="jsonContent">{{ response_ama4dev }}</textarea>
            </div>       
            <table class="table table-bordered table-hover table-striped">
                
                <tbody>
        
                    {% for offer in quotes_ama4dev|dictsort:"offerItems.0.price.total" %}
                        <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    <table>
                                        {% for service in offer.offerItems.0.services %}
                                        <tr>
                                            <td>
                                                <b>{{ service.segments.0.flightSegment.carrierCode }}</b> 
                                                {{ service.segments.0.flightSegment.departure.at|slice:"11:16" }} 
                                                ({{ service.segments.0.flightSegment.departure.at|slice:"19:" }})
                                                ---->
                                                {% if service.segments|length > 1 %}
                                                    {{ service.segments.1.flightSegment.arrival.at|slice:"11:16" }} 
                                                    ({{ service.segments.1.flightSegment.arrival.at|slice:"19:" }})
                                                {% else %}
                                                    {{ service.segments.0.flightSegment.arrival.at|slice:"11:16" }} 
                                                    ({{ service.segments.0.flightSegment.arrival.at|slice:"19:" }})
                                                {% endif %}
                                                <br>
                                                {% if service.segments|length > 1 %}
                                                    {{ service.segments|length|add:-1 }} stop
                                                    ({{ service.segments.0.flightSegment.arrival.iataCode }})
                                                {% else %}
                                                    Direct
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    {{ offer.offerItems.0.price.total }}<br>
                                    Inc taxes: {{ offer.offerItems.0.price.totalTaxes }}
                                </td>
                                <td>
                                    {% if offer.offerItems|length %}
                                    one offer item 
                                    {% else %}
                                    {{ offer.offerItems|length }} offer items
                                    {% endif%}
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    <!-- <div><pre>{{ flights }}</pre></div> -->

</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

$("#jsonResponse").click(function(){
            $('#jsonCode').removeClass("hidden");
            $('#copyButton').removeClass("hidden");
        });
    
    
    
        function copyJson() {
            $('#jsonContent').removeClass("hidden");
            var copyJson = document.getElementById("jsonContent");
            copyJson.focus();
            copyJson.select();
            document.execCommand("copy");
            $('#jsonContent').addClass("hidden");
}

</script>
{% endblock main %}
