{% extends "base.html" %}
{% load staticfiles %}


{% block breadcrumbs %}

    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'flights' %}">Flights</a></li>
      <li class="active">Low-fare search: {{ service }}</li>
    </ol>

{% endblock %}

{% block main %}

<form>
    {% csrf_token %}
    <label>Origin </label>
    {{ form.origin }}
    <label>Destination </label>
    {{ form.destination  }}
    <label>Departure date </label>
    {{ form.departure_date }}
    <label>Return date </label>
    {{ form.return_date }}
    <button type="submit" class="" style="position:relative;top:0;">Search</button>
  </form>
  <hr>


<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sandbox">Innovation Sandbox ({{ quotes_sandbox|length }})</a></li>
        <li><a data-toggle="tab" href="#ama4dev">Amadeus for developers ({{ quotes_ama4dev|length }})</a></li>
    </ul>
    <br>

    <div class="tab-content">
        <div id="sandbox" class="tab-pane fade in active">
            <div class="alert">
                <img id="timer" src="{% static 'img/timer.png' %}" style="height:18px;margin-bottom:4px;" />       
                API response time {{ response_time_sandbox|floatformat:2 }}s
                <br><br>
                <button id="jsonResponse">View json response</button>
                <button class="hidden" id="copyButton" onclick="copyJson()">           
                    <img id="copy" src="{% static 'img/copy.png' %}" style="height:18px" />       
                </button>
            
                <pre class="hidden" id="jsonCode">{{ response_sandbox }}</pre> 
                <textarea class="hidden" id="jsonContent">{{ response_sandbox }}</textarea>
            </div>   

            <table class="table table-bordered table-hover table-striped">
                
                <tbody>
        
                    {% for quote in quotes_sandbox %}
                        <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    <table cellspacing="10">
                                    {% for itinerary in quote.itineraries %}
                                    <tr>
                                        <td>
                                        <b>{{ itinerary.outbound.flights.0.marketing_airline }}</b>
                                        {{ itinerary.outbound.flights.0.departs_at|slice:"11:" }} ----> 
                                        {{ itinerary.outbound.flights.0.arrives_at|slice:"11:" }}
                                        ({{ itinerary.outbound.duration|slice:"0:2" }}h {{ itinerary.outbound.duration|slice:"3:5" }})
                                        <br>
                                        {% if itinerary.outbound.flights|length > 1 %}
                                                {{ itinerary.outbound.flights|length|add:-1 }} stop ({{ itinerary.outbound.flights.0.destination.airport}})<br>
                                        {% else %}
                                            Direct<br>
                                        {% endif %}
                                        <hr>
                                        <b>{{ itinerary.inbound.flights.0.marketing_airline }}</b>
                                        {{ itinerary.inbound.flights.0.departs_at|slice:"11:" }} ----> 
                                        {{ itinerary.outbound.flights.0.arrives_at|slice:"11:" }}
                                        ({{ itinerary.inbound.duration|slice:"0:2" }}h {{ itinerary.inbound.duration|slice:"3:5" }})
                                        <br>
                                        {% if itinerary.inbound.flights|length > 1 %}
                                                {{ itinerary.inbound.flights|length|add:-1 }} stop ({{ itinerary.inbound.flights.0.destination.airport}})<br>
                                        {% else %}
                                            Direct<br>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    {{ quote.fare.total_price }}
                                </td>
                                <!-- <td>
                                    {% for itinerary in quote.itineraries %}
                                        {{ itinerary.outbound.flights.0.departs_at|slice:"11:" }}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
                                        {% if itinerary.outbound.flights|length > 1 %}
                                                {{ itinerary.outbound.flights|length|add:-1 }} stop ({{ itinerary.outbound.flights.0.destination.airport}})<br>
                                        {% else %}
                                            Direct<br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
                                        {{ itinerary.outbound.duration }} <br>
                                    {% endfor %}
                                </td>
                                
                                <td>
                                {% for itinerary in quote.itineraries %}
                                    {% for flight in itinerary.outbound.flights %}
                                    {{ flight.marketing_airline }},
                                    {% endfor %}
                                    <br>
                                {% endfor%}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
        
                                        {{ itinerary.inbound.flights.0.departs_at|slice:"11:" }}<br>
        
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
        
                                    {% if itinerary.inbound.flights|length > 1 %}
                                            {{ itinerary.inbound.flights|length|add:-1 }} stop ({{ itinerary.inbound.flights.0.destination.airport}})<br>
                                    {% else %}
                                        Direct<br>
                                    {% endif %}
        
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
                                        {{ itinerary.inbound.duration }} <br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for itinerary in quote.itineraries %}
                                        {% for flight in itinerary.inbound.flights %}
                                        {{ flight.marketing_airline }},
                                        {% endfor %}
                                        <br>
                                    {% endfor%}
                                    </td> -->
            
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    
        <div id="ama4dev" class="tab-pane fade">
            <div class="alert">
                <img id="timer" src="{% static 'img/timer.png' %}" style="height:18px;margin-bottom:4px;" />               
                API response time {{ response_time_ama4dev|floatformat:2 }}s
                <br><br>
                <button id="jsonResponse">View json response</button>
                <button class="hidden" id="copyButton" onclick="copyJson()">           
                    <img id="copy" src="{% static 'img/copy.png' %}" style="height:18px" />       
                </button>
            
                <pre class="hidden" id="jsonCode">{{ response_ama4dev }}</pre> 
                <textarea class="hidden" id="jsonContent">{{ response_ama4dev }}</textarea>
            </div>       
            <table class="table table-bordered table-hover table-striped">
                
                <tbody>
        
                    {% for offer in quotes_ama4dev|dictsort:"offerItems.0.price.total" %}
                        <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    <table>
                                        {% for service in offer.offerItems.0.services %}
                                        <tr>
                                            <td>
                                                <b>{{ service.segments.0.flightSegment.carrierCode }}</b> 
                                                {{ service.segments.0.flightSegment.departure.at|slice:"11:16" }} 
                                                ({{ service.segments.0.flightSegment.departure.at|slice:"19:" }})
                                                ---->
                                                {% if service.segments|length > 1 %}
                                                    {{ service.segments.1.flightSegment.arrival.at|slice:"11:16" }} 
                                                    ({{ service.segments.1.flightSegment.arrival.at|slice:"19:" }})
                                                {% else %}
                                                    {{ service.segments.0.flightSegment.arrival.at|slice:"11:16" }} 
                                                    ({{ service.segments.0.flightSegment.arrival.at|slice:"19:" }})
                                                {% endif %}
                                                <br>
                                                {% if service.segments|length > 1 %}
                                                    {{ service.segments|length|add:-1 }} stop
                                                    ({{ service.segments.0.flightSegment.arrival.iataCode }})
                                                {% else %}
                                                    Direct
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    {{ offer.offerItems.0.price.total }}<br>
                                    Inc taxes: {{ offer.offerItems.0.price.totalTaxes }}
                                </td>
                                <td>
                                    {% if offer.offerItems|length %}
                                    one offer item 
                                    {% else %}
                                    {{ offer.offerItems|length }} offer items
                                    {% endif%}
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    </div>

    <!-- <div><pre>{{ flights }}</pre></div> -->

</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

$("#jsonResponse").click(function(){
            $('#jsonCode').removeClass("hidden");
            $('#copyButton').removeClass("hidden");
        });
    
    
    
        function copyJson() {
            $('#jsonContent').removeClass("hidden");
            var copyJson = document.getElementById("jsonContent");
            copyJson.focus();
            copyJson.select();
            document.execCommand("copy");
            $('#jsonContent').addClass("hidden");
}

</script>
{% endblock main %}
