{% extends "base.html" %}


{% block main %}
<div id="pricing_form" class="hidden" style="margin: 40px 0;">
        <form action="" method="get" class="form-horizontal">
            <div class="form-group">
              <label for="{{ form.origin_field.id_origin_field }}" class="col-sm-3 control-label">Origin airport or city:&nbsp;</label>
              <div class="col-sm-9">
              {{ form.origin_field }}
              </div>
            </div>
            <div class="form-group">
              <label for="{{ form.destination_field.id_destination_field }}" class="col-sm-3 control-label">Destination airport or city:&nbsp;</label>
              <div class="col-sm-9">
              {{ form.destination_field }}
              </div>
            </div>
            <div class="form-group">
              <label for="{{ form.from_date_field.id_from_date_field }}" class="col-sm-3 control-label">From:&nbsp;</label>
              <div class="col-sm-9">
              {{ form.from_date_field }}
              </div>
            </div>
            <div class="form-group">
              <label for="{{ form.to_date_field.id_to_date_field }}" class="col-sm-3 control-label">To:&nbsp;</label>
              <div class="col-sm-9">
              {{ form.to_date_field }}
              </div>
            </div>
            
          <input class="btn btn-primary" href="" role="button" type="submit" value="Search"></input>
          <span class="form-errors">{{ form.search.errors }}</span>
        </form>
        </div>
    

    <!-- Results -->
    <div class="container">
      <div class="row">
       <!-- Search form -->
        <div class="col-md-8 " id="browse-test-harness"> 
          <span>{{ flights.Itineraries|length }} results</span>
          <table class="table table-bordered table-hover table-striped" id="permissions-table">
              <thead>
                <tr>
                  <td></td>
                  <td>Outbound</td>
                  <td>Inbound</td>
                  <td>Stops</td>
                </tr>
              </thead>
              <tbody>
                  {% for itinerary in flights.Itineraries %}
                      <tr>  
                              <td>
                                  {{forloop.counter}}
                              </td>
                              
                              
                                  {% for leg in flights.Legs %}
                                    {% if leg.Id == itinerary.OutboundLegId %}

                                        {% if leg.SegmentIds|length == 1 %}
                                        <td style="background-color: #fff">Direct</td>

                                        {% else %}
                                        <td style="background-color: #999">{{ leg.SegmentIds|length }} segments</td>                                    
                                        {% endif %}


                                    {% endif %}
                                  {%  endfor %}
                              
                                  {% for leg in flights.Legs %}
                                    {% if leg.Id = itinerary.InboundLegId %}
                                       {% if leg.SegmentIds|length == 1 %}
                                        <td style="background-color: #fff">Direct</td>

                                        {% else %}
                                        <td style="background-color: #999">{{ leg.SegmentIds|length }} stop</td>                                    
                                        {% endif %}
                                    {% endif %}
                                  {%  endfor %}
                              
                              
                              
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
          
    </div>


    
{% endblock main %}


