{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<!-- D3 charts -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="{% static 'js/d3/d3.min.js' %}"></script> -->
<!-- <link href="{% static 'css/c3.css' %}" rel="stylesheet"> -->
<!-- <script src="{% static 'js/d3/c3.min.js' %}"></script> -->
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Travel Intelligence</li>
  </ol>
{% endblock %}

{% block main %}  
<h2>Travel Intelligence</h2>

      <div class="row">
        <div class="col-xs-12">
            <p>This demo uses the <a href="https://d3js.org/" target="_blank">D3.js</a> javascript library and the following Amadeus Travel Intelligence APIs to visualise past travel intelligence data:
                <ul>
                  <li>
                    <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-most-booked-destinations/api-reference" target="_blank">Flight Most Booked Destinations
     </a>
                 </li>
                 <li>
                   <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-most-traveled-destinations/api-reference" target="_blank">Flight Most Traveled Destinations
                       </a>
                 </li>
                 <li>
                     <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-busiest-traveling-period/api-reference" target="_blank">Flight Busiest Traveling Period
                         </a>
                   </li>
               </ul>
                 
     </p>
        </div>
      </div>
      <br>
      <form>
        {% csrf_token %}
        <label for="{{ form.airport.id_airport }}">Origin airport </label>
        {{ form.airport }}
        <label for="{{ form.airport.timeDuration }}">Year </label>
        {{ form.year }}
        <label for="{{ form.airport.timeDuration }}">Month </label>
        {{ form.month }}
        <button type="submit" class="" style="position:relative;top:0;">Search</button>
      </form>

      {% if error_message %}
      <div class="alert alert-danger" style="margin-top:20px;">
        Invalid origin or no data available.
      </div>

      {% else %}        
       <!-- Search form -->
       <div class="row">
         <div class="col-xs-12">
          <h3>Popular destinations from <span class="destinations-results">{{ airport }}</span> in <span class="destinations-results">{{ year }}-{{month}}</span></h3>
        
        <!-- <div class="col-md-4" style="text-align: center">
            <h4>Most Searched (interest)</h4>
            <p>Top destinations users from <span class="destinations-results">{{ market }}</span> have <em>searched for</em> from <span class="destinations-results">{{ airport }}</span>, based on total search numbers.</p><br/>
            <div id="destinations_most_searched_chart"></div>
            <code>{{ most_searched_data.xs|safe }}</code>
        </div> -->
         </div>
        <div class="col-md-4" style="text-align: center">
            <h4>Most Booked</h4>
            <p>Top destinations users have <em>booked flights to</em> from <span class="destinations-results">{{ airport }}</span>, based on total number of bookings<br>(normalized to a range 0-1)*</p>
            <svg id="most_booked" width="300" height="250"></svg>
            <div id="destinations_most_booked_chart"></div>
            <!-- <code>{{ most_booked_data.xs|safe }}</code> -->
        </div>

        <div class="col-md-4 " style="text-align: center">
            <h4>Most Traveled</h4>
            <p>Top destinations users have <em>traveled to</em> from <span class="destinations-results">{{ airport }}</span>, based on total number of check-ins<br>(normalized to a range 0-1)*</p>
            <svg id="most_traveled" width="300" height="250"></svg>

            <!-- <div id="destinations_most_travelled_chart"></div> -->
            <!-- <code>{{ most_travelled_data.xs|safe }}</code> -->
        </div>
      </div>
      <div class="row" style="margin-top:20px">  
          <div class="col-md-12">
        <h3>Busiest traveling period from <span class="destinations-results">{{ airport }}</span> in <span class="destinations-results">{{ year }}</span></h3>
        <br>
        <p>Busiest travel periods for the year broken down per month, based on total number of travelers arriving in the city (normalized to a range 0-1)*</p>
        <div class="col-md-12" style="text-align: center">
            <p></p><br/>
            <div id="busiest_period_chart"></div>
        </div>
        <!-- <code>{{ busiest_period_data.travelers|safe }}</code> -->
      </div>
      </div>

      <div class="row">
          <div class="well" style="margin-top:30px">
              <p><em>* Based on Amadeus' MIDT data. Excludes passengers who book directly with
                  an airline (online, ATO/CTO, Phone) -
                  many tickets purchased for travel on a Low
                  Cost Carrier (LCC) such as Southwest,
                  JetBlue, etc. fall within this category</em></p>
          </div>
        </div>

      <!-- <script type="text/javascript">

         var most_travelled_data = {{ most_travelled_data|safe }};
        //  var most_travelled_data_values = {{ most_travelled_data.travels|safe }};
        //  var most_booked_data_values = {{ most_booked_data.bookings|safe }};
        //  var busiest_period_months = {{ busiest_period_data.months|safe }};
        //  var busiest_period_travelers = {{ busiest_period_data.travelers|safe }};
      </script> -->
      <script type="text/javascript">
        var most_booked_data = '{{ most_booked_data|safe }}'
        var most_traveled_data = '{{ most_traveled_data|safe }}'
        // var most_travelled_data = '{% static "js/d3/mostTraveled.csv" %}'
        // var mostBooked = '{% static "js/d3/mostBooked.csv" %}'
      </script>
      <script src="{% static 'js/d3/bundle.js' %}" type="module"></script>
      <script src="{% static 'js/d3/d3mostTraveled.js' %}"></script>
      <script src="{% static 'js/d3/d3mostBooked.js' %}"></script>

      <!-- <script> -->
      <!-- // load_charts(); -->
      <!-- </script> -->

      {% endif %}

{% endblock main %}

<!-- 
d3.json("{% url "playAround" %}", function(error, data) {}
d3.json("{% url "playAround" %}", function(error, data) {    -->
