{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<!-- D3 charts -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="{% static 'js/d3/d3.min.js' %}"></script> -->
<!-- <link href="{% static 'css/c3.css' %}" rel="stylesheet"> -->
<!-- <script src="{% static 'js/d3/c3.min.js' %}"></script> -->
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Travel Intelligence</li>
  </ol>
{% endblock %}

{% block main %}  
<h2>Travel Intelligence</h2>

      <div class="row">
        <div class="col-xs-12">
            <p>This demo uses the <a href="https://d3js.org/" target="_blank">D3.js</a> javascript library and the following Amadeus Travel Intelligence APIs to visualise past travel intelligence data:
                <ul>
                  <li>
                    <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-most-booked-destinations/api-reference" target="_blank">Flight Most Booked Destinations
     </a>
                 </li>
                 <li>
                   <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-most-traveled-destinations/api-reference" target="_blank">Flight Most Traveled Destinations
                       </a>
                 </li>
                 <li>
                     <a href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-busiest-traveling-period/api-reference" target="_blank">Flight Busiest Traveling Period
                         </a>
                   </li>
               </ul>
                 
     </p>
        </div>
      </div>
      <br>
      <form>
        {% csrf_token %}
        <label for="{{ form.airport.id_airport }}">Origin&nbsp;&nbsp;</label>
        {{ form.airport }}
        <br/><br />
        <label for="{{ form.airport.timeDuration }}">
          Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        
        {{ form.year }}
        <label for="{{ form.airport.timeDuration }}">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        {{ form.month }}
        <br />
        <br />
        <button type="submit" class="" style="position:relative;top:0;">Search</button>
      </form>

      {% if error_message %}
      <div class="alert alert-danger" style="margin-top:20px;">
        Invalid origin or no data available.
      </div>

      {% else %}        
       <!-- Search form -->
       <div class="row">
         <div class="col-xs-12">
          <h3>Most popular destinations 
            <!-- from <span class="destinations-results">{{ airport }}</span> in <span class="destinations-results">{{ year }}-{{month}}</span> -->
          </h3>
        
        <!-- <div class="col-md-4" style="text-align: center">
            <h4>Most Searched (interest)</h4>
            <p>Top destinations users from <span class="destinations-results">{{ market }}</span> have <em>searched for</em> from <span class="destinations-results">{{ airport }}</span>, based on total search numbers.</p><br/>
            <div id="destinations_most_searched_chart"></div>
            <code>{{ most_searched_data.xs|safe }}</code>
        </div> -->
         </div>
        <div class="col-md-4" style="text-align: center">
            <h4>By bookings</h4>
            <svg id="most_booked" width="300" height="250"></svg>
            <br/><br/>
            <hr/>
            <p>Shows the top destinations, based on number of bookings (normalized to a range 0-1)*</p>

            <!-- <div id="destinations_most_booked_chart"></div> -->
            <!-- <code>{{ most_booked_data.xs|safe }}</code> -->
        </div>

        <div class="col-md-4 " style="text-align: center">
            <h4>By check-ins</h4>
            <svg id="most_traveled" width="300" height="250"></svg>
            <br/><br/>
            <hr/>
            <p>Shows the top destinations, based on total number of check-ins (normalized to a range 0-1)*</p>

            <!-- <div id="destinations_most_travelled_chart"></div> -->
            <!-- <code>{{ most_travelled_data.xs|safe }}</code> -->
        </div>
      </div>
      <div class="row" style="margin-top:20px">  
          <div class="col-md-12">
        <h3>Busiest traveling period</h3>
        <br>
        <!-- <div class="col-md-12" style="text-align: center">
            <p></p><br/>
            <div id="busiest_period_chart"></div>
        </div> -->
        <svg id="busiest_period" width="600" height="250"></svg>
<br/><br/>
<hr/>
<p>Busiest traveling periods of the year, based on number of travelers arriving in the city (normalized to a range 0-1)*</p>

        <!-- <code>{{ busiest_period_data.travelers|safe }}</code> -->
      </div>
      </div>

      <div class="row">
          <div class="well" style="margin-top:30px">
              <p><em>* Data based on Amadeus MIDT data. Excludes travelers who booked directly with
                  an airline, in particular Low
                  Cost Carriers (LCCs) such as Southwest,
                  JetBlue, Ryanair, etc.</em></p>
          </div>
        </div>

      <!-- <script type="text/javascript">

         var most_travelled_data = {{ most_travelled_data|safe }};
        //  var most_travelled_data_values = {{ most_travelled_data.travels|safe }};
        //  var most_booked_data_values = {{ most_booked_data.bookings|safe }};
        //  var busiest_period_months = {{ busiest_period_data.months|safe }};
        //  var busiest_period_travelers = {{ busiest_period_data.travelers|safe }};
      </script> -->
      <script type="text/javascript">
        var most_booked_data = '{{ most_booked_data|safe }}'
        var most_traveled_data = '{{ most_traveled_data|safe }}'
        var busiest_period_data = '{{ busiest_period_data|safe }}'

        // var most_travelled_data = '{% static "js/d3/mostTraveled.csv" %}'
        // var mostBooked = '{% static "js/d3/mostBooked.csv" %}'
      </script>
      <script src="{% static 'js/d3/bundle.js' %}" type="module"></script>
      <script src="{% static 'js/d3/d3mostTraveled.js' %}"></script>
      <script src="{% static 'js/d3/d3mostBooked.js' %}"></script>
      <script src="{% static 'js/d3/d3busiestPeriod.js' %}"></script>

      <!-- <script> -->
      <!-- // load_charts(); -->
      <!-- </script> -->

      {% endif %}

{% endblock main %}

<!-- 
d3.json("{% url "playAround" %}", function(error, data) {}
d3.json("{% url "playAround" %}", function(error, data) {    -->
